*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

/* --------------------------------------------------------- */
.wrapper{
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  position: relative;
}
.container{
  max-width: 1040px;
  margin: 0 auto;
}
.page {
  flex: 1 1 auto;
}

/* ------Header---------------------- */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  background-color: #f6f4f4;
}
.header__container {
  padding: 26px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width:1050px){
  .header__container{
    padding: 20px 15px;
  }
}
@media (max-width:650px){
  .header__container{
    flex-wrap: wrap;
  }
  .header__menu{
    margin-bottom: 20px;
  }
}
.header__menu {
}
@media (max-width:680px){
  .header__menu{
    margin-right: 20px;
  }
}
.menu {
}
.header__menu{

}
@media (max-width:800px){
  .header__menu{
    margin-right: 50px;
  }
  .header__logo {
    padding: 0 0 0 0;
  }
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
}
.memu__item {
}
.memu__item:not(:last-child){
  padding: 0 32px 0 0;
}
.menu__link {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 142%;
  font-feature-settings: 'liga' off;
  color: #18191F;
}
.header__logo {
  padding: 0 180px 0 0;
}
@media (max-width:460px){
  .header__logo{
    margin-bottom: 15px;
  }
}
.logo {
}
.logo__text-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo__img-1 {
  padding: 0 10px 0 0;
}
.logo__img-2 {
}
.header__social {
}
.header-social {
}
.header-social__links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-social__link {
}
.header-social__link:not(:last-child){
  margin: 0 14px 0 0;
}
/* ---------------------------------- */

/* --------bem-block title----------- */
.header-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-title__container {
}
.header-title__title {
  font-weight: 800;
  font-size: 36px;
  line-height: 32px;
  text-align: center;
  color: #000000;
  margin: 0 0 5px 0;
}
.header-title__subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #000000;
}
/* ---------------------------- */

/* --------------------------------------------------- */
/* ----------Main-Block----------------------------- */

.page__main-block {
  margin-bottom: 107px;
}
.main-block {
}
.main-block__container {
  
}
.main-block__content{
  margin: 230px 15px 0 15px;
  display: flex;
}
@media (max-width:972px){
  .main-block__content{
    flex-wrap: wrap-reverse;
    justify-content: center;
  }
}
.main-block__body {
  max-width: 450px;
  padding: 0 15px;
}
@media (max-width:900px){
  .main-block__body{
    position: relative;
    z-index: 3;
  }
}
@media (max-width:450px){
  .main-block__body{
    max-width: 250px;
  }
}
.main-block__body > *:not(:last-child){
  margin-bottom: 16px;
}
.main-block__link-text {
}
.main-block__link {
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 34px;
  letter-spacing: -0.376923px;
  color: #0096FF;
}
.main-block__link:hover{
  text-decoration: underline;
}
.main-block__title {
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 42px;
  color: #18191F;
}
@media (max-width:400px){
  .main-block__title{
    font-size: 35px;
  }
}
@media (max-width:290px){
  .main-block__title{
    font-size: 28px;
  }
}
.main-block__sub-title {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  font-feature-settings: 'liga' off;
  color: #18191F;
}
.main-block__round-blue {
  width: 720px;
  height: 720px;
  border-radius: 50%;
  background-color: #0690f3;
  position: absolute;
  top: -90px;
  right: -30px;
  z-index: 1;
  transition: all 0.7s;
}
@media (max-width:1300px){
  .main-block__round-blue{
    width: 520px;
    height: 520px;
  }
}
@media (max-width:780px){
  .main-block__round-blue{
    width: 400px;
    height: 400px;
  }
}
@media (max-width:620px){
  .main-block__round-blue{
    width: 250px;
    height: 250px;
  }
}
.main-block__images {
}
.images-block {

}
.images-block__img {
  position: relative;
  z-index: 3;
}
.images-block__img img{
  position: relative;
  top: -58px;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* ---------Button----- */
.btn-12{
  position: relative;
  right: 0px;
  bottom: 20px;
  border:none;
  box-shadow: none;
  /* width: 200px;
  height: 50px; */
  line-height: 42px;
  -webkit-perspective: 230px;
  perspective: 230px;
  color: #FFFFFF;
  margin-top: 40px;
}

.btn-12 span {
  background: rgb(5, 179, 248);
  background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
  display: block;
  position: absolute;
  width: 200px;
  height: 40px;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
  border-radius: 5px;
  margin:0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.btn-12 span:nth-child(1) {
  box-shadow:
    -7px -7px 20px 0px #fff9,
    -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002,
    4px 4px 5px 0px #0001;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.btn-12 span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.btn-12:hover span:nth-child(1) {
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.btn-12:hover span:nth-child(2) {
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
  color: transparent;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}
/* ------------------------------------------- */
/* ------------Getintouch------------------------------ */
.page__getintouch {
  padding: 60px 0;
  background-color: #F0F6FB;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
}
.getintouch {
}
.getintouch__container {
}
.getintouch__link {
  text-align: center;
}
@media (max-width:567px){
  .getintouch__link{
    padding: 0 15px;
  }
}
.getintouch__link a{
  font-style: normal;
  font-weight: 400;
  font-size: 29px;
  line-height: 33px;
  text-align: center;
  color: #0096FF;
}
/* -------------------------------- */
/* -------Testing------------------------ */

.page__testing {
  margin-bottom: 115px;
}
.testing {
}
.testing__container {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
@media (max-width:760px){
  .testing__container{
    flex-wrap: wrap;
  }
}
.container {
}
.testing__column {
  padding: 16px;
  background-color: #0096FF;
  flex: 0 1 22.222%;
  border-radius: 20px;
}
@media (max-width:760px){
  .testing__column{
    flex: 0 1 47%;
    margin-bottom: 5px;
    margin-right: 5px;
  }
}
@media (max-width:460px){
  .testing__column{
    flex: 0 1 100%;
    margin-bottom: 5px;
  }
}
.column-testing {
}
.column-testing__img {
  display: flex;
  justify-content: flex-end;
}
.column-testing__body {
}
.column-testing__body > *:last-child{
  margin: 0 0 7px 0;
}
.column-testing__title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;  
}
.column-testing__subtitle {
  font-weight: 400;
  font-size: 12px;
  line-height: 133.5%;
  color: #FFFFFF;
}
/* ----------------------------- */
/* --------Relax---------------------- */

.page__relax {
  margin-bottom: 122px;
}
.relax {
}
.relax__container {
}
.container {
}
.relax__body {
  display: flex;
  position: relative;
}
@media (max-width:1072px){
  .relax__body{
    padding: 0 15px;
  }
}
@media (max-width:995px){
  .relax__body{
    justify-content: center;
    flex-wrap: wrap-reverse;
  }
}
.relax__images {
  position: relative;
  z-index: 2;
}
.relax__images img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.relax__circle-item {
  width: 478px;
  height: 478px;
  border-radius: 50%;
  box-shadow: 0 0 8px 7px #e5e3e3;
  background-color: #e5e3e3;
  position: absolute;
  top: 0;
  left: 30%;
  z-index: 1;
}
.relax__content {
  max-width: 439px;
  position: relative;
  z-index: 2;
}
.relax__title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.376923px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 28px;
}
.relax__title2 {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #0096FF;
}
.relax__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
}
.relax__subtitle{
  margin-bottom: 20px;
}
/* --------------------------------- */
/* -----------Services------------- */

.page__ofservices {
  margin-bottom: 100px;
}
.ofservices {
}
.ofservices__container {
  margin-bottom: 80px;
}
.ofservices__header {
  margin-bottom: 80px;
  padding: 0 15px;
}
.ofservices__body {
}
.services-column {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 15px;
}
.services-column__item {
}
.services-item {
  flex: 0 1 25%;
}
@media (max-width:720px){
  .services-item{
    flex: 1 1 100%;
  }
}
.services-item__wrapper{
  margin-bottom: 80px;
}
.services-item__title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #18191F;
}
.services-item__title:not(:last-child){
  margin: 0 0 12px 0;
}
.services-item__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #18191F;  
}
.services-item__subtitle:not(:last-child){
  margin: 0 0 25px 0;
}
.services-item__link a {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #0096FF;  
}
.services-item__link a::before{
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #0096FF;
  display: inline-block;
}
.services-item__link span{
  padding: 0 0 0 5px;
}

.ofservices__button-link {
}
.link-button {
}
.link-buttom__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.link-buttom__container a{
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #000000;  
}
.link-buttom__container span{
  padding: 0 0 0 5px;
}
/* ----------------------------- */
/* -------Dental Specialists--------- */

.dentalspecialists__header{
  margin-bottom: 40px;
}
.page__dentalspecialists{
  margin-bottom: 112px;
}
.dentalspecialists__column {
  display: flex;
}
.column-specialists {
}
.column-specialists__items {
  display: flex;
  justify-content: space-between;
}
@media (max-width:720px){
  .dentalspecialists__column{
    flex-wrap: wrap;
    justify-content: center;
  }
  .column-specialists__items{
    margin-bottom: 20px;
  }
}
.specialists-items {
}
.specialists-items__content {
  flex: 1 1 22.222%;
}
.specialists-items__img {
  max-width: 253px;
  margin-bottom: 20px;
  padding: 0 10px;
}
.specialists-items__img img{
  width: 100%;
  height: auto;
  object-fit: cover;
}
.specialists-items__body{
  max-width: 288px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.specialists-items__title {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.376923px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 6px;
}
@media (max-width:820px){
  .specialists-items__title{
    font-size: 17px;
  }
}
@media (max-width:725px){
  .specialists-items__title{
    font-size: 15px;
  }
  .specialists-items__img{
    margin-bottom: 12px;
  }
  .specialists-items__link a{
    font-size: 10px;
  }
}
.specialists-items__link{
  margin-bottom: 7px;
}
.specialists-items__link a{
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.376923px;
  text-transform: uppercase;
  color: #0096FF;  
}
.specialists-items__social {
  display: flex;
  justify-content: center;
}
.specialists-items__social{

}
.specialists-social {
}
.specialists-social__images {
  margin: 0 10px 0 10px;
}
.specialists-items__images{
  
}
/* --------------------------------------- */
/* ----clients-speak----------------------*/
.clients-speak__header{
  margin: 0 0 50px 0;
  padding: 0px 15px;
}
.clients-speak__body {
  margin: 0 0 85px 0;
  padding: 0 15px;
}
.clients-speak__items {
  margin: 0 -30px;
}
.items-clients-speak {
  display: flex;
}
.items-clients-speak__content {
  padding: 0 30px;
  flex: 0 1 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width:890px){
  .items-clients-speak__content{
    flex: 1 1 100%;
    margin: 0 0 40px 0;
  }
  .items-clients-speak {
    flex-wrap: wrap;
  }
}
.items-clients-speak__body {
  background-color:  #fbf9f9;
  padding: 35px 40px;
  text-align: center;
  border-radius: 10px;
  margin: 0 0 30px 0;
}
.items-clients-speak__title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #18191F;  
}
.items-clients-speak__sub-title {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #18191F;  
}
.items-clients-speak__imges {
  margin: 0 0 10px 0;
}
.items-clients-speak__title-speak {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #18191F;  
}
.items-clients-speak__sub-title-speak {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #474A57;  
}
/* ------------------------------ */
/* ----------Our Blog------------ */
.our-blog__header{
  margin: 0 0 43px 0;
}
.our-blog__body {
  margin: 0 0 75px 0;
}
.our-blog__items {
  margin: 0 -15px;
}
.items-our-blog {
  padding: 0 15px;
  display: flex;
}
@media (max-width:705px){
  .items-our-blog{
    justify-content: center;
  }
}
.items-our-blog__content {
  flex: 0 1 350px;
  padding: 0 15px;
}
@media (max-width:725px){
  .items-our-blog__content{
    margin: 0 0 35px 0;
  }
}
@media (max-width:725px){
  .items-our-blog{
    flex-wrap: wrap;
  }
}
.items-our-blog__content *:not(:last-child){
  margin: 0 0 18px 0;
}
.items-our-blog__images {
  position: relative;
  padding-top: 170px;
}
@media (max-width:860px){
  .items-our-blog__images{
    padding-top: 150px;
  }
}
@media (max-width:725px){
  .items-our-blog__images{
    padding-top: 170px;
  }
}
.items-our-blog__images img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
}
.items-our-blog__title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;  
}
.items-our-blog__sub-title {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #666666;  
}
/* ----------------------------- */
/* -----Footer------------------ */
.footer {
  background-color: #0096FF;
  padding: 36px 0px;
  color: #FFFFFF;
}
.container {
}
.footer__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 15px;
}
.footer-item {
}
.footer-item__column {
  flex: 0 1 20%;
}
@media (max-width:820px){
  .footer-item__column{
    flex: 0 1 50%;
    padding: 0 15px;
    margin: 0 0 20px 0;
  }
}
.footer-item__lable {
  margin: 0 0 36px 0;
}
.footer-item__img1 {
  padding: 0 10px 0 0;
}
.footer-item__img2 {
}
.footer-item__title {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 12px;
  margin: 0 0 30px 0;
}
.footer-item__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
}
.footer-contact {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;

}
.footer-contact__text {
  margin: 0 0 22px 0;
}
.footer-contact__addres {
  margin: 0 0 22px 0;
}
.footer-contact__email {
  margin: 0 0 32px 0;
}
.footer-contact__phone {
}

.footer-stay-connected a {
  color: #FFFFFF;
}
.footer-stay-connected__title {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  margin: 0 0 18px 0;
}
.footer-stay-connected__list-icon {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
.list-icon li:not(:last-child){
  margin: 0 0 11px 0;
}
.list-icon li{
  padding: 0 0 0 20px ;
}
.list-icon__facebook {
  background: url("../img/footer/icon/Vector-1.svg") 2px no-repeat;
}
.list-icon__twitter {
  background: url("../img/footer/icon/Vector-2.svg") left no-repeat;
}
.list-icon__google {
  background: url("../img/footer/icon/Vector-3.svg") left no-repeat;
}
.list-icon__instagram {
  background: url("../img/footer/icon/Vector-4-4.svg") 1px 4px no-repeat,
  url("../img/footer/icon/Vector-4.svg") left no-repeat;
}
.list-icon__youtube {
  background: url("../img/footer/icon/Vector-5-5.svg") 3px 5.5px no-repeat,
  url("../img/footer/icon/Vector-5.svg") left no-repeat;
}

.footer-item__column {
}
.footer-newsletter {
}
.footer-newsletter__title {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px; 
  margin: 0 0 18px 0; 
}
.footer-newsletter__text {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  margin: 0 0 14px 0;
}
.footer__form {
  display: flex;
}
.footer__input {
  max-width: 123px;
}
.footer__input input{
  padding: 8px;
}
.footer__button button {
  background-color: #0096FF;
  color: #FFFFFF;
  padding: 7px 9px;
  border: 1px solid #FFFFFF;
}